.publication {
  .note-box {
    background-color: #f5f5f5;
    box-sizing: border-box;
    margin-bottom: 4mm;
    margin-top: 4mm;
    padding: 4mm;
    width: 100%;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .heading {
      border: 0;
    }
  }
}
